<app-header></app-header>

<ion-content class="slide">
  
  <ion-list>
    <ion-item *ngIf=" sintomas ">
      <ion-thumbnail slot="start">
        <ion-img src="/assets/img/{{ patologia.imagen }}"></ion-img>
      </ion-thumbnail>
      <ion-label> <h1> {{ patologia.dolencia }} </h1> </ion-label> 
    </ion-item>
  </ion-list>
  <form >
    <ion-slides pager="true" class="slide">
      <ion-slide class="slide" *ngFor="let sintoma of sintomas[0] let i = index">
        <ion-card mode="ios">

          <ion-card-header>
            <ion-card-title> Sintoma {{ i + 1 }} de {{ sintomas[0].length }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <strong> {{ sintoma.sintoma }} </strong>
            <ion-list>
              <ion-item>
                <ion-label>Si</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label>No</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
            </ion-list>
            <p> {{ sintoma.observacion }} </p>
            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-textarea></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
