<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="tab1">
      <ion-icon name="nuclear"></ion-icon>
      <ion-label>Patologias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Nucleo Familiar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="call"></ion-icon>
      <ion-label>Contactenos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
