<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-card mode="ios">

    <ion-card-header>
      <ion-card-title> CONTACTO </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Contacta a tu Centro de Salud mas cercano</p>
      <strong> Cel. 312XXXXXXX </strong>
      <hr>
      <strong> Dirección: xxxx xxxx xxxxxxxxx xxxxxxxxxxxxxx </strong>
      <hr>
      <hr>
      <p> Recuerda lavar tús manos constantemente, la prevención es asunto de todos. </p>
    </ion-card-content>
  </ion-card>

</ion-content>
