
<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-list #listaNucleo>
   
    <ion-item-sliding *ngFor="let persona of nucleo[0]">
      <ion-item>
        <ion-label>
          <strong>{{ persona.nombres }}</strong>  
          <p>{{ persona.apellidos }}</p>
        </ion-label>
        <ion-label>
          <p>{{ persona.movil }}</p>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="danger"  (click)="aSintomas(persona)">
        <ion-icon slot="icon-only" name="nuclear-sharp" size="large"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="tertiary"  (click)="aModificar(persona)">
        <ion-icon slot="icon-only" name="pencil-sharp" size="large"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="onClick()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
