<app-header></app-header>

<ion-content [fullscreen]="true" color="light">
  
  <ion-grid>
      <ion-toolbar *ngFor="let patologia of patologias[0]"  size="12" color="dark" (click)="aSintomas(patologia)">
        <ion-buttons expand="full" slot="start">
          <ion-button expand="full" size="large" id="{{ patologia.id_dol }}">
            {{ patologia.dolencia }}
          </ion-button>
        </ion-buttons>
        <ion-avatar slot="end">
          <img src="{{'/assets/img/' + patologia.imagen }}">
        </ion-avatar>
      </ion-toolbar>
  </ion-grid>

</ion-content>
