
<ion-menu side="start"
  menuId="first" 
  contentId="main">
  <ion-header>
  <ion-toolbar color="dark">
    <ion-title>Menu Mia202</ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
  <ion-list>
    <ion-menu-toggle>
      <ion-item *ngFor="let c of componentes | async"
              [routerLink]="c.redirectTo">
        <ion-icon slot="start" [name]="c.icon"></ion-icon>
        {{ c.name }}
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
  </ion-content>
</ion-menu>