<app-header></app-header>

<ion-content class="slide">
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-thumbnail >
            <ion-img src="/assets/img/slide/user.svg"></ion-img>
          </ion-thumbnail>
          <ion-label></ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-slides #slide pager="true" scrollbar="true" class="slide-full">
    <ion-slide class="slide-1">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item *ngIf="idPersona !== -999">
              <ion-label>Parentesco</ion-label>
              <ion-select placeholder="Selecccione uno" [(ngModel)]="parentesco">
                <ion-select-option value="1">Esposo(a)</ion-select-option>
                <ion-select-option value="2">Hijo(a)</ion-select-option>
                <ion-select-option value="3">Madre/ Padre</ion-select-option>
                <ion-select-option value="4">Otro</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Genero</ion-label>
              <ion-select placeholder="Selecccione uno" [(ngModel)]="genero">
                <ion-select-option value="f">Femenino</ion-select-option>
                <ion-select-option value="m">Masculino</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Nombres</ion-label>
              <ion-input type="text" aria-placeholder="Digite sus Nombres"  [(ngModel)]="nombres"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Apellidos</ion-label>
              <ion-input type="text" aria-placeholder="Digite sus Apellidos"  [(ngModel)]="apellidos"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Movil</ion-label>
              <ion-input type="phone" aria-placeholder="Digite su Móvil"  [(ngModel)]="movil"></ion-input>
            </ion-item>
            <section class="full-width">
              <ion-button color="tertiary" expand="full" size="large" (click)="slide.slideNext()">Siguiente</ion-button>
            </section>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="slide-2">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Telefono 2</ion-label>
              <ion-input type="phone" aria-placeholder="Segundo Télefono"  [(ngModel)]="telefono"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Email</ion-label>
              <ion-input type="email" aria-placeholder="Digite su Email"  [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Dirección</ion-label>
              <ion-input type="address" aria-placeholder="Digite su Dirección"  [(ngModel)]="direccion"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Seleccione Departamento</ion-label>
              <ion-select placeholder="Selecccione Departamento" [(ngModel)]="fkDpto" onchange="cargarCiudades( $event )">
                <ion-select-option value="{{ dpto.divipola }}" *ngFor="let dpto of departamentos"> {{ dpto.departamento }} </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Ciudad</ion-label>
              <ion-select placeholder="Selecccione Ciudad" [(ngModel)]="fkCiu">
                <ion-select-option value="" > Prueba </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Barrio</ion-label>
              <ion-input type="text" aria-placeholder="Digite su Barrio"  [(ngModel)]="direccion2"></ion-input>
            </ion-item>
            <section class="full-width">
              <ion-button color="tertiary" expand="full" size="large" (click)="slide.slideNext()">Siguiente</ion-button>
            </section>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide class="slide-2">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Grupo Sanguineo</ion-label>
              <ion-select placeholder="Selecccione RH" [(ngModel)]="rh">
                <ion-select-option value="A">A</ion-select-option>
                <ion-select-option value="B">B</ion-select-option>
                <ion-select-option value="O">O</ion-select-option>
                <ion-select-option value="AB">AB</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>Tipo RH</ion-label>
              <ion-select placeholder="Selecccione Tipo RH" [(ngModel)]="tipoSangre">
                <ion-select-option value="+">+</ion-select-option>
                <ion-select-option value="-">-</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label>EPS</ion-label>
              <ion-input type="text" aria-placeholder="Digite su EPS"  [(ngModel)]="eps"></ion-input>
            </ion-item>
            <section class="full-width">
              <ion-button color="primary" expand="full" size="large" onclick="(guardarUsuario())">Enviar</ion-button>
            </section>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
